header
    font-family 'Noto Sans',Helvetica,Arial,Lucida,sans-serif
    font-style italic
    font-size 17px
    background-color black
    height 35px
    display: flex
    align-items: center
    justify-content: center
    

.b1_title
    color white
p
    margin 0
    padding 0
    border 0
    outline 0
    font-size 100%
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    vertical-align: center
    background: transparent
